$bg-color: #f9f9f9;
main {
    margin-top: 85px;
    background-color: $bg-color;
    padding-top: 80px;
    padding-bottom: 80px;
    .our-blog__text {
        h4 {
            font-family: 'Museo2';
            font-size: 50px;
            color: #000;
            letter-spacing: -1.6px;
            margin-bottom: 0;
            &:before {
                content: '';
                position: absolute;
                height: 100%;
                width: 6px;
                background-color: #00a7ff;
                left: 0;
                top: 0;
            }
        }
    }
    .our-blog__item {
        a {
            color: #000;
            &:hover {
                text-decoration: unset;
            }
        }
        .our-blog__post {
            h5 {
                font-family: 'Museo1';
                font-size: 21px;
                padding-top: 20px;
                letter-spacing: -0.84px;
                font-weight: bold;
            }
            p {
                font-family: 'Museo0';
                font-size: 16px;
            }
        }
    }
    .pagination {
        li {
            a {
                font-family: 'Museo2';
                color: #00a7ff;
                border: unset;
                font-size: 22px;
                &:hover {
                    background-color: unset;
                    color: #000;
                }
                &.active {
                    text-decoration: underline;
                }
            }
        }
    }
}