@font-face {
  font-family: "Museo0";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_0.otf") format("truetype"); }

@font-face {
  font-family: "Museo1";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_1.otf") format("truetype"); }

@font-face {
  font-family: "Museo2";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_2.otf") format("truetype"); }

@font-face {
  font-family: "Museo3";
  src: url("../fonts/MuseoSans/MuseoSansCyrl_3.otf") format("truetype"); }

@font-face {
  font-family: "MuseoSansCyrl";
  src: url("../fonts/MuseoSans/MuseoSansCyrl.otf") format("truetype"); }

.get-call {
  font-family: "Open Sans", sans-serif;
  background: #3c7ac2;
  background: linear-gradient(to right, #109de1, #3c7ac2);
  color: #fff;
  font-size: 14px;
  border-radius: 5px;
  border: unset;
  background-size: 400% 400%;
  -webkit-animation: Gradient 3s ease infinite;
  -moz-animation: Gradient 3s ease infinite;
  animation: Gradient 3s ease infinite; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

nav.navbar {
  box-shadow: 0 5px 5px -5px #eeebeb;
  padding-top: 14.5px;
  padding-bottom: 14.5px;
  background-color: #fff; }
  nav.navbar .navbar-brand {
    color: #1498dd;
    font-size: 31px;
    font-family: 'Museo3'; }
  nav.navbar .nav__get-call .phone-number {
    color: #1498dd;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400; }
    nav.navbar .nav__get-call .phone-number img {
      padding-right: 6px; }
  nav.navbar .nav__get-call a.get-call {
    color: #fff;
    margin-left: 20px; }
  nav.navbar ul.navbar-nav li a {
    color: #000;
    font-size: 16px;
    font-family: 'Museo1';
    font-weight: 400; }

header {
  margin-top: 85px;
  background-image: url(../img/header-bg.png);
  background-size: cover;
  background-position: center; }
  header .header__showcase-text {
    padding-top: 160px; }
    header .header__showcase-text h1 {
      color: #00a7ff;
      font-family: 'Museo2';
      font-weight: 400;
      font-size: 49px;
      letter-spacing: -2px; }
    header .header__showcase-text p {
      font-family: 'Museo0';
      font-size: 22px;
      font-weight: 400;
      line-height: 29px;
      letter-spacing: -0.88px;
      color: #000;
      padding-top: 60px; }
    header .header__showcase-text a {
      margin-top: 75px;
      font-family: "Open Sans", sans-serif;
      background: #3c7ac2;
      background: linear-gradient(to right, #109de1, #3c7ac2);
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      border: unset;
      background-size: 400% 400%;
      -webkit-animation: Gradient 3s ease infinite;
      -moz-animation: Gradient 3s ease infinite;
      animation: Gradient 3s ease infinite;
      font-family: 'Museo1';
      font-size: 25px;
      border-radius: 35px;
      padding-top: 20px;
      padding-bottom: 20px; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }
  header .header__img {
    padding-top: 130px; }

#features {
  margin-top: 125px; }
  #features .features__head-text h2 {
    font-family: "Museo2";
    font-size: 40px;
    font-weight: 400;
    letter-spacing: -1.6px;
    color: #00a7ff; }
  #features .features__item {
    margin-top: 58px; }
    #features .features__item .features__item__img {
      padding-bottom: 30px;
      min-height: 160px;
      display: flex;
      align-items: flex-end; }
    #features .features__item p {
      font-family: 'Museo0';
      font-size: 15px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: -0.6px;
      color: #000;
      max-width: 70%;
      display: block;
      margin: auto; }

#about {
  margin-top: 85px;
  background-color: #f9f9f9;
  padding-top: 30px;
  padding-bottom: 30px; }
  #about .about__left a {
    font-family: 'Museo1';
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.88px;
    color: #32567a;
    text-decoration: underline; }
  #about .about__right {
    font-family: 'Open Sans', sans-serif;
    color: #000;
    padding-top: 35px; }
    #about .about__right h3,
    #about .about__right h4 {
      font-weight: 400;
      margin-bottom: 0; }
    #about .about__right h3 {
      font-size: 39px; }
    #about .about__right h4 {
      font-size: 24px; }
    #about .about__right p,
    #about .about__right ul {
      font-size: 15px;
      font-weight: 400;
      padding-top: 15px;
      margin-bottom: 0; }
    #about .about__right ul li {
      font-weight: bold; }

#get-call-line {
  padding-top: 36.5px;
  padding-bottom: 36.5px;
  background-image: linear-gradient(-100deg, #1671a0, #315479); }
  #get-call-line .main-text h4 {
    color: #ffffff;
    font-family: "Museo3";
    font-size: 19px;
    font-weight: bold;
    line-height: 28px;
    letter-spacing: 1.52px;
    margin-bottom: 0; }
  #get-call-line .call-text {
    position: relative; }
    #get-call-line .call-text:before {
      content: '';
      position: absolute;
      height: 85px;
      width: 1px;
      background-color: #fff;
      top: -35%;
      left: 0; }
    #get-call-line .call-text a {
      color: #ffffff;
      font-family: "Open Sans";
      font-size: 30px; }
      #get-call-line .call-text a:hover {
        text-decoration: unset; }
  #get-call-line .btn-block a {
    font-family: "Open Sans", sans-serif;
    background: #3c7ac2;
    background: linear-gradient(to right, #109de1, #3c7ac2);
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    border: unset;
    background-size: 400% 400%;
    -webkit-animation: Gradient 3s ease infinite;
    -moz-animation: Gradient 3s ease infinite;
    animation: Gradient 3s ease infinite;
    font-size: 22px;
    padding: 10px 20px; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#general-services {
  padding-top: 95px;
  background-color: #f9f9f9; }
  #general-services .services__title-text h4 {
    font-family: 'Museo2';
    font-size: 40px;
    color: #000;
    letter-spacing: -1.6px;
    margin-bottom: 0; }
    #general-services .services__title-text h4:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 6px;
      background-color: #00a7ff;
      left: 0;
      top: 0; }
  #general-services .service__item {
    max-width: 260px;
    box-shadow: 1px 2px 6px 1px rgba(202, 200, 200, 0.54);
    border: 1px solid #efeded;
    margin-top: 75px; }
    #general-services .service__item h4 {
      font-family: 'Museo0';
      font-size: 21px;
      color: #000;
      letter-spacing: -0.84px;
      margin-bottom: 0;
      padding-bottom: 25px;
      position: relative; }
    #general-services .service__item img {
      padding-bottom: 28px; }
    #general-services .service__item a.btn {
      color: #ffffff;
      font-family: "Museo1";
      font-size: 21px;
      font-weight: 400;
      max-width: 215px;
      border-radius: 28px;
      background-color: #00a7ff;
      letter-spacing: -1px; }
  #general-services .service__more-btn {
    margin-top: 45px; }
    #general-services .service__more-btn a {
      font-family: "Open Sans", sans-serif;
      background: #3c7ac2;
      background: linear-gradient(to right, #109de1, #3c7ac2);
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      border: unset;
      background-size: 400% 400%;
      -webkit-animation: Gradient 3s ease infinite;
      -moz-animation: Gradient 3s ease infinite;
      animation: Gradient 3s ease infinite;
      font-family: "Museo1";
      font-size: 20px;
      letter-spacing: -0.8px;
      color: #e2e1e1;
      border-radius: 35px; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#services-for-clients {
  padding-top: 95px;
  background-color: #f9f9f9; }
  #services-for-clients .services__title-text h4 {
    font-family: 'Museo2';
    font-size: 40px;
    color: #000;
    letter-spacing: -1.6px;
    margin-bottom: 0; }
    #services-for-clients .services__title-text h4:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 6px;
      background-color: #00a7ff;
      left: 0;
      top: 0; }
  #services-for-clients .service__item {
    max-width: 260px;
    box-shadow: 1px 2px 6px 1px rgba(202, 200, 200, 0.54);
    border: 1px solid #efeded;
    margin-top: 75px; }
    #services-for-clients .service__item h4 {
      font-family: 'Museo0';
      font-size: 21px;
      color: #000;
      letter-spacing: -0.84px;
      margin-bottom: 0;
      padding-bottom: 25px;
      position: relative; }
    #services-for-clients .service__item img {
      padding-bottom: 28px; }
    #services-for-clients .service__item a.btn {
      color: #ffffff;
      font-family: "Museo1";
      font-size: 21px;
      font-weight: 400;
      max-width: 215px;
      border-radius: 28px;
      background-color: #00a7ff;
      letter-spacing: -1px; }
  #services-for-clients .service__more-btn {
    margin-top: 45px;
    margin-bottom: 60px; }
    #services-for-clients .service__more-btn a {
      font-family: "Open Sans", sans-serif;
      background: #3c7ac2;
      background: linear-gradient(to right, #109de1, #3c7ac2);
      color: #fff;
      font-size: 14px;
      border-radius: 5px;
      border: unset;
      background-size: 400% 400%;
      -webkit-animation: Gradient 3s ease infinite;
      -moz-animation: Gradient 3s ease infinite;
      animation: Gradient 3s ease infinite;
      font-family: "Museo1";
      font-size: 20px;
      letter-spacing: -0.8px;
      color: #e2e1e1;
      border-radius: 35px; }

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

@keyframes Gradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 100% 50%; }
  100% {
    background-position: 0% 50%; } }

#ready-solutions {
  padding-top: 53px;
  color: #000;
  background-color: #f9f9f9; }
  #ready-solutions h3 {
    font-family: 'Museo2';
    font-size: 40px;
    letter-spacing: -1.6px; }
  #ready-solutions .solutions__list {
    margin-top: 70px;
    font-family: 'Open Sans', sans-serif; }
    #ready-solutions .solutions__list h5 {
      font-size: 25px;
      letter-spacing: -1px;
      margin-bottom: 20px; }
    #ready-solutions .solutions__list ul li {
      font-size: 15px;
      letter-spacing: -0.6px;
      padding-bottom: 15px; }
      #ready-solutions .solutions__list ul li:last-child {
        padding-bottom: unset; }
      #ready-solutions .solutions__list ul li img {
        padding-right: 10px; }

#our-blog .our-blog__text {
  margin-top: 85px; }
  #our-blog .our-blog__text h4 {
    font-family: 'Museo2';
    font-size: 40px;
    color: #000;
    letter-spacing: -1.6px;
    margin-bottom: 0; }
    #our-blog .our-blog__text h4:before {
      content: '';
      position: absolute;
      height: 100%;
      width: 6px;
      background-color: #00a7ff;
      left: 0;
      top: 0; }

#our-blog .our-blog__item {
  margin-top: 78px; }
  #our-blog .our-blog__item .our-blog__post h5 {
    font-family: 'Museo1';
    font-size: 21px;
    padding-top: 20px;
    letter-spacing: -0.84px;
    font-weight: bold; }
  #our-blog .our-blog__item .our-blog__post p {
    font-family: 'Museo0';
    font-size: 16px; }

#our-blog .go-to-blog-btn {
  margin-top: 60px;
  margin-bottom: 60px; }
  #our-blog .go-to-blog-btn a {
    color: #ffffff;
    font-family: "Museo1";
    font-size: 21px;
    font-weight: 400;
    letter-spacing: -1px;
    border-radius: 28px;
    background-color: #00a7ff; }

body {
  max-width: 1920px !important;
  margin: auto !important; }
