$text-for-modal-color: #32567a;
$bg-color: #f9f9f9;
#about {
    margin-top: 85px;
    background-color: $bg-color;
    padding-top: 35px;
    padding-bottom: 35px;
    .about__left {
        a {
            font-family: 'Museo1';
            font-size: 22px;
            font-weight: 400;
            letter-spacing: -0.88px;
            color: $text-for-modal-color;
            text-decoration: underline;
        }
    }
    .about__right {
        font-family: 'Open Sans', sans-serif;
        color: #000;
        h3,
        h4 {
            font-weight: 400;
            margin-bottom: 0;
        }
        h3 {
            font-size: 39px;
        }
        h4 {
            font-size: 24px;
        }
        p,
        ul {
            font-size: 15px;
            font-weight: 400;
            padding-top: 15px;
            margin-bottom: 0;
        }
        ul {
            li {
                font-weight: bold;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #about {
        .about__left {
            a {
                font-size: 16px;
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #about {
        .about__left {
            a {
                font-size: 14px;
            }
        }
        .about__left__img {
            max-width: 60%;
            margin: auto;
        }
        .about__right {
            h3,
            h4 {
                text-align: center;
            }
        }
    }
}