$primary-text-color: #00a7ff;
header {
    margin-top: 85px;
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    position: relative;
    .header__img {
        position: absolute;
        top: 0;
        right: 0;
    }
    .header__showcase-text {
        padding-top: 110px;
        h1 {
            color: $primary-text-color;
            font-family: 'Museo2';
            font-weight: 400;
            font-size: 49px;
            letter-spacing: -2px;
        }
        p {
            font-family: 'Museo0'; // Sans Cyrl -300
            font-size: 22px;
            font-weight: 400;
            line-height: 29px;
            letter-spacing: -0.88px;
            color: #000;
            padding-top: 60px;
        }
        a {
            margin-top: 75px;
            @include gradient-btn-animation;
            font-family: 'Museo1';
            font-size: 25px;
            border-radius: 35px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    }
    .header__img {
        padding-top: 80px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    header {
        .header__img {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            img {
                max-width: 80%;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    header {
        .header__showcase-text {
            padding-top: 60px;
        }
        .header__img {
            display: none;
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    header {
        .header__showcase-text {
            padding-top: 60px;
            h1 {
                font-size: 36px;
                text-align: center;
            }
            a {
                font-size: 16px;
                margin: auto;
                display: block;
            }
        }
        .header__img {
            display: none;
        }
    }
}

@media screen and (max-width: 575px) {
    header {
        .header__showcase-text {
            padding-top: 60px;
            h1 {
                font-size: 26px;
                text-align: center;
            }
            p {
                font-size: 14px;
                text-align: center;
            }
            a {
                font-size: 12px;
                margin: auto;
                display: block;
            }
        }
        .header__img {
            display: none;
        }
    }
}