#ready-solutions {
    padding-top: 53px;
    color: #000;
    background-color: $bg-color;
    h3 {
        font-family: 'Museo2';
        font-size: 40px;
        letter-spacing: -1.6px;
    }
    .solutions__list {
        margin-top: 70px;
        font-family: 'Open Sans', sans-serif;
        h5 {
            font-size: 25px;
            letter-spacing: -1px;
            margin-bottom: 20px;
        }
        ul {
            li {
                font-size: 15px;
                letter-spacing: -0.6px;
                padding-bottom: 15px;
                &:last-child {
                    padding-bottom: unset;
                }
                img {
                    padding-right: 10px;
                }
            }
        }
    }
    .get-question {
        background-color: #00a7ff;
        border-radius: 35px;
        padding: 25px 25px;
        p {
            font-family: 'Open Sans', sans-serif;
            color: #fff;
            font-size: 21px;
            font-weight: 500;
            line-height: 21px;
            letter-spacing: -0.84px;
            padding-left: 18px;
        }
        form {
            position: relative;
            input {
                border-radius: 35px;
                font-family: 'Museo0';
                color: #000;
                font-weight: bold;
                border: unset;
            }
            input[type=submit] {
                background-color: #eae8e8;
                color: #000;
                position: absolute;
                right: 10%;
                top: 0;
                max-width: 115px;
                padding: 15px 0px;
                &:hover {
                    cursor: pointer;
                }
            }
            input[type=text] {
                max-width: 312px;
                padding: 15px 20px;
            }
        }
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    #ready-solutions {
        .get-question {
            p {
                font-size: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) and (min-width: 576px) {
    #ready-solutions {
        .get-question {
            p {
                font-size: 15px;
                text-align: center;
            }
            form {
                padding-top: 10px;
                input[type=submit] {
                    top: 10px;
                    right: 17%;
                }
            }
        }
    }
}

@media screen and (max-width: 575px) {
    #ready-solutions {
        .solutions__list {
            h5 {
                text-align: center;
            }
        }
        .get-question {
            p {
                font-size: 14px;
                text-align: center;
            }
            form {
                padding-top: 10px;
                input[type=submit] {
                    top: 10px;
                    right: 2%;
                }
            }
        }
    }
}